*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-image: linear-gradient(270deg, red, white);
    color: rgb(160, 95, 71);
    font-family: 'Tenali Ramakrishna', sans-serif;
}

header{
    font-size: 1.rem;
    text-shadow: 0 0 3px white, 0 0 5px #0000FF;
    text-decoration: underline;
}

header,
form {
    display: flex;
    justify-content: center;
    
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: skyblue;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background:skyblue;
    color: white;
}

.task-container {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.tasks {
    min-width:30%;
    list-style: none;
}

.task-div{
    height: 3rem;
    margin: 0.5rem;
    background: white;
    color: turquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    padding: 0.6rem;
    border-radius: 20px;
}

.task-div li{
    flex: 1;
}

.new-task{
    padding: 0rem 0.5rem;
    font-size: 1.8rem;
    
}

.check-button,
.trash-button{
    border: none;
    background: blue;
    color: greenyellow;
    padding: 0.5rem;
    cursor: pointer;
}

.fa-trash-alt,
.fa-check-square{
    pointer-events: none;
    font-size: x-large;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
